.car_container {
  padding: 2rem;
  justify-content: center;
  text-align: center;
}

.car_grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 1rem;
}

.car_card {
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 300px;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.car_card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.car_img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.car_details {
  margin-top: 1rem;
  text-align: left;
}

.car_details h2 {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
  color: #333;
  text-align: center;
}

.car_details p {
  color: #666;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
.detail_btn {
  background-color: #f7921f;
  color: white;
  border: none;
  border-radius: 6px;
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}

.detail_btn:hover {
  background-color: #e0851d;
}
