.continer{
   background: #223740;
  display: flex;
  text-align: center;
  width: 100%;
  height: 70px;
}
.continer a{
    text-decoration: none;
     color: #F7921F; 
  }
.link{
     padding: 20px;
  }
.link a{
   padding-left: 80px;
  font-size: 14px;
}
 