/* Sidebar container */
.sidebar {
  width: 250px;
  background-color: #223740;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
}

/* Toggle button */
.toggle-btn {
  position: absolute;
  top: 20px;
  right: -15px;
  width: 30px;
  height: 30px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
}

/* Menu (ul) */
.menu {
  list-style: none;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Menu links (li > Link) */
.menu li a {
  text-decoration: none;
  color: #F7921F;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: color 0.3s;
}

/* Hover effect for links */
.menu li a:hover {
  color: #55646e;
}

/* Logout button */
.logout {
  color: #F7921F;
  margin-top: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}
.main p{ 
  text-align: center;
  color: black;
  font-size: 19PX;
  justify-content: center;
}
.all_sidbar{
  display: flex;
  min-height: 100vh; /* full height */
  background-color: #f5f7fa;
}