body{
  background-color: #f5f7fa;
}

.container {
  max-width: 100%;
  margin: 0px auto;
  background: #F7921F;
  padding: 20px;
  /* padding-top: 0px 20px 20px; */
  /* border-radius: 8px; */
}

h2{
  color: #e4e8ef;
  font-size: 24px;
  margin-bottom: 5px;
}

p {
  color: #edeaea;
  font-size: 14px;
  margin-bottom: 20px;
}
.formBox {
  background: #fff;
  border: 4px solid gold;
  border-radius: 8px;
  /* padding: 15px; */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;

  text-align: center;
}
.input_group {
  /* margin-bottom: 10px; */
  display: flex;
  align-items: center;
  padding: 10px;
  border-right: 4px solid gold;
  background: #fff;
  
}
.input_group:last-child{
  /* border-right: none; */
}
.input_group input {
  /* width: 100%; */
  /* padding: 8px; */
  box-sizing: border-box;
  border-radius: 4px;
  /* border: 1px solid #ccc; */
  /* border: 2px solid gold; */

  /* border: none; */
  outline: none;
  background: transparent;
  font-size: 14px;
  color: #000;
  min-width: 160px;
}

.date_time_group {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  border-right: 4px solid gold;
  text-align: center;
  padding: 30px;
  
}

.date_time_group .input_group {
  flex: 1;
  
}
.btn {
  width: 100%;
  padding: 10px;
  background-color: #F7921F;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.first{
  display: flex;
  padding: 2px 0px;
}


/* sidebar css */

/* Sidebar container */
.sidbars{
  
  display: flex;
  min-height: 100vh; /* full height */
  background-color: #f5f7fa;
}


.sidebar {
  width: 250px;
  background-color: #e8f0fe;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
  /* height: 900px; */
}

/* Toggle button */
.toggle-btn {
  position: absolute;
  top: 20px;
  right: -15px;
  width: 30px;
  height: 30px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
}

/* Menu (ul) */
.menu {
  list-style: none;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Menu links (li > Link) */
.menu li a {
  text-decoration: none;
  color: #2c3e50;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: color 0.3s;
}

/* Hover effect for links */
.menu li a:hover {
  color: #e4a359;
}

/* Logout button */
.logout {
  color: red;
  margin-top: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

/* carRental form design  */

.form_container {
  background: #fff;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  max-width: 1300px;
  margin: 10px 10px;
  text-align: center;
}

.form_container h1 {
  color: #F7921F;
  font-size: 32px;
  margin-bottom: 10px;
}

.form_container p {
  color: #6b7280;
  font-size: 16px;
  margin-bottom: 30px;
}

.form_group {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.input_wrapper {
  flex: 1;
  text-align: left;
}

.input_wrapper label {
  font-size: 14px;
  color: #374151;
  margin-bottom: 6px;
  display: block;
  font-weight: 600;
}

.input_wrapper input {
  width: 100%;
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 14px;
  margin-top: 4px;
}

.upload_box {
  border: 2px dashed #cbd5e1;
  border-radius: 8px;
  padding: 30px;
  background-color: #f9fafb;
  cursor: pointer;
  transition: border-color 0.3s;
  margin-bottom: 30px;
}

.upload_box:hover {
  border-color: #eb9e45;
}

.upload_text {
  color: #6b7280;
  font-size: 14px;
  margin-top: 10px;
}

.book_button {
  width: 100%;
  padding: 14px;
  background-color: #F7921F;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.book_button:hover {
  background-color: #1d1c1c;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px  #1d1c1c(52, 152, 219, 0.4);
}

/* carRentalList design  */
.carrental_list{
  background-color: #97a9b6;
  color: #ccc;
  width: 100%;
  padding: 14px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

/* officerSide carbookingform design  */
.officercontainer{
  background: #fff;
  border-radius: 12px;
  padding: 40px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  margin: 20px auto;
  text-align: center;
}

.officercontainer h1 {
  color: #F7921F;
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: bold;
}
.input_wra{
   flex: 1;
  text-align: left;
}

.input_wra label {
  font-size: 16px;
  color: #374151;
  margin-bottom: 6px;
  display: block;
  font-weight: 600;
  padding: 30px auto;
}

.input_wra input {
  width: 100%;
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 14px;
  margin-top: 4px;
}


.btnOfficer {
  width: 50%;
  margin-top: 14px;
  padding: 14px;
  background-color: #F7921F;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btnOfficer:hover {
  background-color: #1d1c1c;
}


.backbtn {
  background-color: #F7921F;
  color: rgb(245, 240, 240);
  border: none;
  padding: 0.2rem 1rem;
  font-size: 1.23rem;
  border-radius: 8px;
  cursor: pointer;
  float: left; 
  margin-bottom: 20px;
 
  /* transition: background-color 0.2s ease; */
  
}

.backbtn:hover {
  background-color: #1d1c1c;
}